# Gemini API Key
GEMINI_API_KEY=

# ZegoCloud Credentials
ZEGO_APP_ID=
ZEGO_SERVER_SECRET=

# Google Indexing & Merchant Center
GOOGLE_MERCHANT_ID=5781342860
GOOGLE_SERVICE_ACCOUNT_JSON=
TARGET_COUNTRY=BD
FEED_LABEL=BD
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT=
